body {
    background-color:  hsl(218, 23%, 16%);
    font-size: 28px;
    width: 1440px;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 10%;
    display: flex;
    justify-content: center;
}

section .card {
    width: 600px;
    height: 350px;
    padding: 10%;
    border-radius: 5%;
    align-items: center;
    color:  hsl(193, 38%, 86%);
    background-color: hsl(217, 19%, 24%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2 {
    color: hsl(150, 100%, 66%);
    font-size: 15px;
}

button {
    background-color: hsl(150, 100%, 66%);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

button img {
    align-items: center;
}

@media screen and (max-width: 600px) {
    body{
        width: 400px;
    }
    section {
        width: 375px;
    }
    section .card {
        height: 300px;
        padding: 5%;
        font-size: 25px;
    }
    .divider-desktop{
        display: none;
    }

}

@media screen and (min-width:600px){
    .divider-mobile{
        display: none;
    }
}