body {
    background-color:  hsl(218, 23%, 16%);
    font-size: 28px;
    width: 100vw;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;

    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(12, [col-start] 1fr);
}

section {
    grid-column-start: 6;
    grid-row-start: 6;
}


section .card {
    width: 450px;
    height: 250px;
    padding: 10%;
    border-radius: 5%;
    align-items: center;
    color:  hsl(193, 38%, 86%);
    background-color: hsl(217, 19%, 24%);
    text-align: center;
    display: flex;
    flex-direction: column;

}
h2 {
    color: hsl(150, 100%, 66%);
    font-size: 15px;
}

button {
    background-color: hsl(150, 100%, 66%);
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    margin: auto;
    top: 63%;
    bottom: 37%;

}

button img {
    align-items: center;
}

@media screen and (max-width: 600px) {
    section {
        grid-column-start: 4;
    }
    section .card {
        width: 400px;
        height: 325px;
        padding: 5%;
    }
    .divider-desktop{
        display: none;
    }

    button {
        top: 65%;
        bottom: 35%;
    }

}

@media screen and (min-width:600px){
    .divider-mobile{
        display: none;
    }
}